// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "cfg/appearance.kdl"
include "cfg/binds.kdl"
include "cfg/inputs.kdl"
include "cfg/layout.kdl"
include "cfg/outputs.kdl"
include "cfg/rules.kdl"
include "cfg/startup.kdl"
